html, body {
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(red, yellow); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(red, yellow); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(red, yellow); /* For Firefox 3.6 to 15 */
    background: linear-gradient(red, yellow); /* Standard syntax */
height:100%;
}
h2 {
font-weight:bold;
text-align : center;
font-size: 40px;
color : purple;
}
h3 {
font-weight:bold;
text-align : center;
font-size: 30px;
color : darkred;
}
a { text-decoration:none;}
.bigh {
margin-left:50px;
color : red;
font-size : 70px;
/*background-color: green;*/
float:left;
font-weight:bold;
}
.small {
margin-top:25px;
font-size: 30px;
float:left;
font-weight:bold;
}
.smallend {
margin-top:25px;
font-size: 30px;
float:left;
font-weight:bold;
}
.biga {
margin-left:50px;
color : blue;
font-size : 70px;
clear:left;
float:left;
font-weight:bold;
}
.bigaa {
margin-left:50px;
color : magenta;
font-size : 70px;
float:left;
font-weight:bold;
}
.bigp {
clear:left;
margin-left:50px;
color : purple;
font-size : 70px;
float:left;
font-weight:bold;
}
.bigpp {
clear:left;
margin-left:50px;
color : mauve;
font-size : 70px;
float:left;
font-weight:bold;
}
.bigy {
clear:left;
margin-left:50px;
color : black;
font-size : 70px;
float:left;
font-weight:bold;
}
.bigd {
color : green;
font-size : 70px;
float:left;
font-weight:bold;
}
.bigo {
color : goldenrod;
font-size : 70px;
float:left;
font-weight:bold;
}
.bigs {
color : orange;
font-size : 70px;
float:left;
font-weight:bold;
}
.bige {
color : orchid;
font-size : 70px;
float:left;
font-weight:bold;
}
.sign {
width: 35px;
height: 5px;
background-color: black;
margin: 6px 0;
font-weight:bold;
}
.col1 {
background-color: lightgreen;
color: red;
}
.col2 {
background-color: yellow;
color: blue;
}
.col3 {
background-color: lightblue;
color: purple;
}


.container {

height: 100%; 
min-height: 100%;
}


.first {
    float: left;
    font-size : 30px;
    color:white;
    width: 50%;
    height: 50%;
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(red, yellow); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(red, yellow); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(red, yellow); /* For Firefox 3.6 to 15 */
    background: linear-gradient(red, yellow); /* Standard syntax */
}

.first a {color:white;
    text-decoration: none;
    background: red; /* For browsers that do not support gradients */
    float: left;
    margin:0;
    font-size : 20px;
    }

.second{
    float: left;
    font-size : 30px;
    color:white;
    width: 34%;
    height: 50%;
    background: green; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(green, purple); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(green, purple); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(green, purple); /* For Firefox 3.6 to 15 */
    background: linear-gradient(green, purple); /* Standard syntax */
}

.second a {color:white;
    text-decoration: none;
    float: left;
    font-size : 20px;
    margin:0;
    background: green; /* For browsers that do not support gradients */
    }

.third{
    float: right;
    font-size : 30px;
    color:white;
    width: 50%;
    height: 50%;
    background: indigo; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(indigo, cyan); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(indigo, cyan); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(indigo, cyan); /* For Firefox 3.6 to 15 */
    background: linear-gradient(indigo,cyan); /* Standard syntax */
}

.third a {color:white;
    float: left;
    margin:0;
    font-size : 20px;
    background: indigo; /* For browsers that do not support gradients */
    }

.fourth {
    float: right;
    font-size : 30px;
    color:red;
    width: 33%;
    height: 50%;
    background: white; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(white, orange); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(white, orange); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(white, orange); /* For Firefox 3.6 to 15 */
    background: linear-gradient(white,orange); /* Standard syntax */
}

.fourth a {color:white;
    float: left;
    margin:0;
    font-size : 20px;
    background: orange; /* For browsers that do not support gradients */
}

.last {
    float: right;
    font-size : 30px;
    color:red;
    width: 33%;
    height: 50%;
    background: lime; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(lime, fuchsia); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(lime,fuchsia); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(lime,fuchsia); /* For Firefox 3.6 to 15 */
    background: linear-gradient(lime,fuchsia); /* Standard syntax */
}

.last a {color:white;
    float: left;
    margin:0;
    font-size : 20px;
    background: lime; /* For browsers that do not support gradients */
}
.new {
color:green;
}

.gfirst {
    float: left;
    color:white;
    width: 25%;
    background-color: red;
}
.gsec {
    float: left;
    color:white;
    width: 25%;
    background-color: blue;
}
.gthird {
    float: left;
    color:white;
    width: 25%;
    background-color: orange;
}
.gfourth {
    float: left;
    color:white;
    width: 25%;
    background-color: green;
}

.row {
 height: auto;
    overflow: auto;
}
