<html>
<!DOCTYPE html>
<!--        {% load static from staticfiles %} -->
<head>
<link href="{%static "/css/happy.css" %}" rel="stylesheet">
</head>
<body>
<div class="row">
<h1> Goals </h1>
<h4> We Recommend choosing one from each category</h4>
<div class="gfirst">
<h4>Diet and Lifestyle </h4>
{% for goal in data %}
{% if goal.type == "diet" %}
              <input type="checkbox" name="{{ goal.goal_name }}" value="{{goal.goal_name}}">{{goal.goal_name}}&nbsp{{goal.ntrans|title|slice:"0:1"}} 
<br>
{% endif %}
{% endfor %}
</div>
<div class="gsec">
<h4>Love Share Social</h4>
{% for goal in data %}
{% if goal.type == "social" %}
              <input type="checkbox" name="{{ goal.goal_name }}" value="{{goal.goal_name}}">{{goal.goal_name}}&nbsp{{goal.ntrans|title|slice:"0:1"}}
<br>
{% endif %}
{% endfor %}
</div>
<div class="gthird">
<h4>Plan for Success</h4>
{% for goal in data %}
{% if goal.type == "plan" %}
              <input type="checkbox" name="{{ goal.goal_name }}" value="{{goal.goal_name}}">{{goal.goal_name}}&nbsp{{goal.ntrans|title|slice:"0:1"}}

<br>
{% endif %}
{% endfor %}
</div>
<div class="gfourth">
<h4>Activities and Exercise</h4>
{% for goal in data %}
{% if goal.type == "activity" %}
              <input type="checkbox" name="{{ goal.goal_name }}" value="{{goal.goal_name}}">{{goal.goal_name}}&nbsp{{goal.ntrans|title|slice:"0:1"}}
<br>
{% endif %}
{% endfor %}
</div>

</div>
</body>
</html>
