
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>
<body>

<div data-role="page">
  <div data-role="header">
    <h1>Choose</h1>
  </div>

  <div data-role="main" class="ui-content">
    <form method="post" action="/action_page_post.php">
      <label for="points">Happiness:</label>
      <input type="range" name="points" id="points" value="50" min="0" max="100">
      <label for="points">Depression:</label>
      <input type="range" name="points" id="points" value="50" min="0" max="100">
      <label for="points">Stress:</label>
      <input type="range" name="points" id="points" value="50" min="0" max="100">
      <label for="points">Frustration:</label>
      <input type="range" name="points" id="points" value="50" min="0" max="100">
      <label for="points">Anger:</label>
      <input type="range" name="points" id="points" value="50" min="0" max="100">
      <label for="points">Tierd:</label>
      <input type="range" name="points" id="points" value="50" min="0" max="100">
      <input type="submit" data-inline="true" value="Submit">
    </form>
  </div>
</div>

</body>
</html>
