<html>
<!DOCTYPE html>
        {% load static from staticfiles %}
<head>
<link href="{%static "/static/css/happy.css" %}" rel="stylesheet">
</head>
<body>
<p>
<a href="login">Sign In </a>
<a href="signup">Register </a>
<h2>Happy Dose</h2> <h3>Boost your happy brain chemicals naturally</h3>
</p>
<div class="bigh">H</div><div class="small">elp naturally increase&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</div>
<div class="bigd">D</div><div class="smallend">opamine</div>
<div class="biga">A</div><div class="small">ssist in producing more &nbsp&nbsp</div>
<div class="bigo">O</div><div class="smallend">xytocin</div>
<br>
<div class="bigp">P</div><div class="small">rovide ways to revitalize&nbsp&nbsp&nbsp</div>
<div class="bigs">S</div><div class="smallend">erotonin</div>
<br>
<div class="bigpp">P</div><div class="small">rovide ways to invigorate &nbsp</div>
<div class="bige">E</div><div class="smallend">ndorphin</div>
<br>
<div class="bigy">Y</div><div class="small">ield noticeable improvements quickly and easily</div>
<br>
</body>
</html>
