<!DOCTYPE html>
<html>

        {% load static from staticfiles %}
<head>
<link href="{%static "/css/happy.css" %}" rel="stylesheet">
</head>
<body>
<div class="container">
<div class="first">
Questions Answered {{data.findcnt}}
<br>
<a href="/qa/"><img src="{%static "/img/results.png" %}" style="width:160px;height:160px;border:0;">Results</a>
<a href="/findout"><img src="{%static "/img/questionnaire.png" %}" style="width:160px;height:160px;border:0;">Questionnaire</a>
</div>
<div class="third">
Goals set {{data.goalcnt}}
<br>
<a href="/gr/"><img src="{%static "/img/setgoals.png" %}" style="width:160px;height:160px;border:0;">Set Goals</a>
<a href="/gr/"><img src="{%static "/img/reviewgoals.png" %}" style="width:160px;height:160px;border:0;">Review Goals</a>
</div>
<div class="second">
Analysis Results 
<br>
<a href="/qa/"><img src="{%static "/img/view.png" %}" style="width:160px;height:160px;border:0;">View</a>
<br>
</div>
<div class="fourth">Goals Complete
<br>
<a href="/qa/"><img src="{%static "/img/goalscomp.png" %}" style="width:160px;height:160px;border:0;">View</a>
</div>
<div class="last">Improvement awards 0
<br>
<a href="/qa/"><img src="{%static "/img/improve.png" %}" style="width:160px;height:160px;border:0;">View</a>
</div>
</div>
</body>
</html>
